html, body {
	height: 100%;
	background-color: #A8A8AA;
}

h1 > small {
	font-size: 50%;
	color: #262626;
}

.container {
	padding: 0 15px;
	height: 100%;
}

.nav > li > a {
	margin: 0 5px;
}

.fill {
	height: calc(100% - 119px - 40px - 60px);
}

.col-md-8 {
	min-height: 300px;
	height: 100%;
}

.input-group {
	margin-bottom: 10px;
}

.btn-group {
	margin-bottom: 10px;
}

@media only screen and (max-device-width: 480px) {

	small:before {
		content: '\A';
		white-space: pre;
		display: inline;
	}
}
